<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- <setting name="jdbcTypeForNull" value="VARCHAR2" /> -->
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="3000" />
		<setting name="jdbcTypeForNull" value="NULL" />



	</settings>
	<typeAliases>
		<typeAlias alias="projectDTO" type="com.project.dto.ProjectDTO" />
		<typeAlias alias="listDTO" type="com.project.dto.ListDTO" />
		<typeAlias alias="richDTO" type="com.project.dto.RichDTO" />
	</typeAliases>
	
</configuration>